# Исключаем виртуальное окружение
venv/

# Исключаем скомпилированные Python файлы
__pycache__/
*.py[cod]

# Исключаем базу данных SQLite
*.sqlite3

# Исключаем конфиденциальные файлы, такие как настройки среды
.env
